@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    text-align: center;
}

body {
    background-color: rgb(34, 33, 33);
}

h1 {
    font-family: 'Yellowtail', cursive;
    color: #ffc107;
}

form {
    font-family: 'Nunito', sans-serif;
}

input[type="text"] {
    background: #fff;
    width: 340px;
    height: 50px;
    border: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}

button {
    border-radius: 0 25px 25px 0;
    width: 150px;
    height: 50px;
    border: none;
    cursor: pointer;
    background-color: #ffc107;
}

img {
    min-width: 295px;
    min-height: 100%;
}

.shelf {
    margin: 2rem;
}

input {
    text-align: left;
}
